@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

.inputContainer {
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .error {
    position: absolute;
    top: 0;
    font-size: 10px;
    color: red;
    text-align: left;
  }

  .label {
    width: 100%;
    display: flex;
    cursor: pointer;
    height: 30px;
    color: #495057;
    font-size: 10px;
    @include field;

    .fakeInput {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      padding: 0 13px 0 13px;
      align-items: center;
    }

    .fakeButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 66px;
      border-left: 0.5px solid #becad6;
      background: #e9ecef;
      @include button-states;
    }

    .input {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
      z-index: -1;
    }
  }
}
