@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

.selectContainer {
  position: relative;

  .select {
    width: 100%;
    height: 30px;
    @include field;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #495057;
    padding: 0 13px 0 13px;
    appearance: none;
  }
  .arrows {
    right: 13px;
    top: 11px;
    position: absolute;
  }
}
