@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

.formWrapper {
  background: #ffffff;
  padding: 18px;
  padding-top: 20px;
  width: 100%;
  height: 255px;
  position: relative;
  @include shadowed-block;

  .title {
    text-align: center;
    font-size: 17.5px;
    color: $cobalt;
  }

  .formErrorMessageWrapper {
    position: absolute;
    top: 60px;
    text-align: center;
  }
  .errorMessage {
    font-size: 10px;
    color: red;
  }
  .inputsContainer {
    margin-top: 32px;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    .register {
      color: $main-blue;
      font-size: 10.5px;
    }

    .submitWrapper {
      width: 110px;
    }
  }
}
